<div class="overlay blur"></div>
<dialog id="dialog-tags" class="left">
    <header class="fixed">
        <nav class="padding">
            <div class="row max truncate">
                <h6 class="max">All tags</h6>
            </div>
            <div class="row no-space">
                <a class="button circle large border" href="/tags/" target="_blank">
                    <i>{% icon "lucide:external-link" %}</i>
                    <div class="tooltip bottom">Open in New Tab</div>
                </a>
                <button class="transparent circle" data-ui="#dialog-tags">
                    <i>{% icon "lucide:x" %}</i>
                </button>
            </div>
        </nav>
    </header>
    <ul class="list">
        {% for tag in collections.tagsList %}
        <li class="wave round{% if page.url == '/tags/' ~ (tag | slug) ~ '/' %} fill{% endif %}">
            <a data-ui="#dialog-tags" href="/tags/{{ tag | slug }}/">
                <i>{% icon "lucide:hash" %}</i>
                {{ tag }}
            </a>       
        </li> 
        {% endfor %}
    </ul>
</dialog>

