<div class="overlay blur"></div>
<dialog id="dialog-posts" class="left large">
    <header class="fixed">
        <nav class="padding">
            <div class="row max truncate">
                <h6 class="max">My posts</h6>
            </div>
            <div class="row">
                <a class="button circle large border" href="/tags/posts/" target="_blank">
                    <i>{% icon "lucide:external-link" %}</i>
                    <div class="tooltip bottom">Open in New Tab</div>
                </a>
                <button class="transparent circle" data-ui="#dialog-posts">
                    <i>{% icon "lucide:x" %}</i>
                </button>
            </div>
        </nav>
    </header>
    <div class="grid article-list">
        {% for post in collections.posts | reverse %}
        <article class="large-padding wave round no-elevate s12 m6 l6 {% if page.url == post.url %}fill{% endif %}">
            <a href="{{ post.url }}" data-ui="#dialog-posts"></a>
            <h2 class="primary-text no-margin">{{ post.data.title }}</h2>
            <p class="date">{{ post.date | readableDate }} · by {{ site.author }}</p>
            <p class="no-margin">{{ post.data.description }}</p>
            <nav class="article-tags scroll max tiny-space">
                {% for tag in post.data.tags %}
                {% if "posts" not in tag %}
                <a class="button border no-round" href="/tags/{{ tag }}/">#{{ tag }}</a>
                {% endif %}
                {% endfor %}
            </nav>
        </article>
        {% endfor %}
    </div>
</dialog>