<dialog id="dialog-posts" class="left large">
    <header class="fixed">
        <nav>
            <div class="row max truncate">
                {% include "components/profile.njk" %}
                <h6 class="max">My posts</h6>
            </div>
            <div class="row">
                <a class="button circle large border" href="/posts/" target="_blank">
                    <i>open_in_new</i>
                    <div class="tooltip bottom">Open in New Tab</div>
                </a>
                <button class="transparent circle large" data-ui="#dialog-posts">
                    <i>close</i>
                </button>
            </div>
        </nav>
    </header>
    {% for post in collections.posts | reverse %}
    <article class="s12 m12 l6{% if page.url == post.url %} secondary-container active{% endif %}">
        <h2><a class="link" href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p>{{ post.date | date }} - by {{ site.author }}</p>
        <p class="text-sm">{{ post.data.description }}</p>
        <nav class="wrap">
            {% for tag in post.data.tags %}
            <a class="chip" href="/tags/{{ tag }}/">#{{ tag }}</a>
            {% endfor %}
        </nav>
        <nav>
            <div class="max"></div>
            <a class="button tonal no-margin" href="{{ post.url }}" {% if page.url == post.url %}disabled{% endif %}>
                <i>book_5</i>
                Read this post
            </a>
        </nav>
    </article>
    <div class="small-space"></div>
    {% endfor %}
</dialog>