<div class="space"></div>
<footer class="grid padding">

  <div class="s12 m8 l8">
    <a class="name" href="{{ site.url }}">{{ site.title }}</a>
    <p class="text-sm">{{ site.description }}</p>
  </div>
  <div class="s12 m4 l4 row right-align">
    {% for item in site.socialItems %}
    <a class="button circle transparent" href="{{ item.url }}" aria-label="{{ item.title }}">
      <i class="si si-{{ item.icon }}"></i>
      <div class="tooltip">{{ item.title }}</div>
    </a>
    {% endfor %}
  </div>

</footer>