<hr>
<footer>

  <div class="grid">

    <div class="s12 m6">
        <div class="display-lg"><a href="{{ site.url }}">{{ site.title }}</a></div>
        <p class="text-sm">{{ site.description }}</p>
    </div>

    <div class="s12 m6 text-right">
      <br>

      {% for item in site.socialItems %}
      <a class="btn icon text" href="{{ item.url }}">
        <i>
          <iconify-icon icon="{{ item.icon }}"></iconify-icon>
        </i>
        <span class="sr-only">{{ item.title }}</span>
      </a>
      {% endfor %}

    </div>

  </div>
</footer>
<br>