<nav class="m l left center-align" id="menu">
    {% for item in site.menuItems %}
    <a {% if item.url %}href="{{ item.url }}"{% endif %}>
        <i>{% icon item.icon %}</i>
        <span>{{ item.title }}</span>
    </a>
    {% endfor %}
</nav>

<nav class="s bottom">
    {% for item in site.menuItems %}
    <a {% if item.url %}href="{{ item.url }}"{% endif %}>
        <i>{% icon item.icon %}</i>
        <span>{{ item.title }}</span>
    </a>
    {% endfor %}
</nav>
