<aside class="row no-space right padding-right large-padding">
    <a href="https://raw.githubusercontent.com/{{ site.ghRepo }}/main/src/posts/{{ page.fileSlug }}.md" class="circle button transparent" aria-describedby="_tooltip-source">
        <i>{% icon "mdi:file-eye-outline" %}</i>
        <div class="tooltip bottom" id="_tooltip-source">View source of this page</div>
    </a>
    <a href="https://github.com/{{ site.ghRepo }}/edit/main/src/posts/{{ page.fileSlug }}.md" class="circle button transparent" aria-describedby="_tooltip-edit">
        <i>{% icon "mdi:file-edit-outline" %}</i>
        <div class="tooltip bottom" id="_tooltip-edit">Edit this page</div>
    </a>
</aside>