<div class="row vertical tiny-space fixed bottom right m l" id="buttons-container">
    <button class="circle fill elevate" data-ui="#dialog-toc" aria-label="Table of Contents">
        <i>{% icon "lucide:table-of-contents" %}</i>
        <div class="tooltip left">Table of Contents</div>
    </button>
    <a href="#top" class="button circle fill elevate" aria-label="Go to top">
        <i>{% icon "lucide:arrow-up" %}</i>
        <div class="tooltip left">Go to top</div>
    </a>
    <a href="https://github.com/{{ site.ghRepo }}/issues" class="button circle fill elevate" aria-label="File an issue">
        <i>{% icon "lucide:bug" %}</i>
        <div class="tooltip left">File an issue</div>
    </a>
</div>


<nav class="s center-align large-padding">
    <button class="circle fill elevate" data-ui="#dialog-toc" aria-label="Table of Contents">
        <i>{% icon "lucide:table-of-contents" %}</i>
        <div class="tooltip top">Table of Contents</div>
    </button>
    <a href="https://github.com/{{ site.ghRepo }}/issues" class="button circle fill elevate" aria-label="File an issue">
        <i>{% icon "lucide:bug" %}</i>
        <div class="tooltip top">File an issue</div>
    </a>
</nav>