<button id="profile" class="extra circle transparent" aria-label="Profile logo">
    <img class="responsive" src="/favicon/ios/64.png" width="100%" height="100%" alt="Profile logo">
    <span>{{ site.title }}</span>
</button>