<div id="pf--wrapper" class="bottom-round">
    <div class="field border large top-round prefix transparent" id="pf--search">
        <i class="front">{% icon "lucide:search" %}</i>
        <input class="no-elevate" id="pf--input" placeholder="Search for…" autocomplete="off" />
    </div>
    <menu class="bottom-round" id="pf--search-results"></menu>
</div>