/*
    Font face
*/
@font-face {
    font-family: 'Google Sans';
    src: url('/fonts/Google_Sans/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('/fonts/Google_Sans/GoogleSans-Italic-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans Code';
    src: url('/fonts/Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans Code';
    src: url('/fonts/Google_Sans_Code/GoogleSansCode-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
}


/*
    base.
*/

body {
    --font: "Google Sans", sans-serif;
    --font-code: "Google Sans Code", monospace;
    --font-icon: none !important;

    --mesh-bg:
        radial-gradient(at 40% 20%, var(--primary-container), transparent 60%),
        radial-gradient(at 70% 80%, var(--secondary-container), transparent 60%),
        radial-gradient(at 20% 70%, var(--tertiary-container), transparent 60%),
        radial-gradient(at 80% 30%, var(--surface-variant), transparent 60%);

    --noise-bg: url(/noise.svg);

    --blur: saturate(1.8) blur(0.75rem);
    --glass-bg: color-mix(in srgb, var(--surface-container) 50%, transparent);
    --edge-highlight: inset 0 0.0625rem 0 rgb(255 255 255 / 0.1);
    --shadow-glass: 0 0.75rem 1.5rem -1rem rgb(0 0 0 / 0.5);
}


/*
    Normalize a bit
*/
html {
    scroll-behavior: smooth;
    opacity: 0;
    animation: fadeIn var(--speed3) ease-in-out forwards;
}

body {
    font-family: var(--font);
    font-size: 1.15rem;
    line-height: 1.675;
    letter-spacing: 0;
    overflow-wrap: anywhere;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: var(--mesh-bg);
    opacity: 0.25;
}

img {
    max-width: 100%;
}

img[width][height] {
    height: auto;
}

table {
    overflow-x: auto;
}

::selection {
    background: var(--primary);
    color: var(--background);
}

:target {
    scroll-margin-block-start: 15vh;
}


/*
    Layout
*/
:is(.post, .marginize, footer) {
    max-inline-size: min(100vw, 55rem) !important;
    margin: 0 auto;
}

nav:is(.left, .right) {
    background: transparent;
}

.hero {
    padding: 5rem 0;
}

.features {
    max-width: 36rem;
    margin: 10rem auto !important;
    padding: 0 2rem;
}


/*
    Typography
    it's looks better
*/
strong,
.bold {
    font-weight: 600;
}

.sbold {
    font-weight: 500;
}

.small-text {
    font-size: .875rem;
}

.semi-text {
    font-size: 1rem;
}

.helper {
    font-size: 1rem;
    margin: .5rem 0 !important;
}

.name {
    display: block;
    font-size: 2.8125rem;
}

.info {
    margin-block-start: 0;
    font-weight: 500;
}

blockquote {
    padding: 0 1rem;
}


/* 
    Post-only css
    it's just available inside of .post element if you ask
*/
.post a:not(.button),
.toc a {
    text-decoration: underline;
    color: var(--primary) !important;
    transition: var(--speed1);
    user-select: text;
}

.post a:not(.button):hover,
.toc a:hover {
    color: var(--on-primary-container) !important;
}

.post * {
    vertical-align: unset !important;
}

.post>*:not(.pre-container, img, table) {
    display: block;
    margin: 1.5rem 1.5rem !important;
}

.post-header>* {
    --_gap: .5rem;
}

.post-detail h1 {
    font-weight: 475;
}

.post-cover {
    --_bsize: 32rem;
    block-size: var(--_bsize);
    background: var(--mesh-bg), var(--noise-bg);
    filter: contrast(100%) brightness(100%);
}

.post-cover img {
    inline-size: 100%;
    block-size: var(--_bsize);
    object-fit: cover;
}

.article-list .post-cover {
    --_bsize: 16rem;
}

@media only screen and (max-width: 600px) {
    .post-cover:not(:has(img)) {
        --_bsize: 24vh;
    }
    .article-list .post-cover {
        --_bsize: 12rem;
    }
}

/*
    Lists for something
*/
:is(ul, ol) :is(ul, ol) {
    margin-block-start: 0 !important;
}

:is(ul, ol) li {
    margin: .25rem 0;
}

.features .list li {
    background: var(--secondary-container);
    color: var(--on-secondary-container);
    border-radius: .5rem;
    margin-block-start: .25rem;
    white-space: normal;
}


/*
    Code ==> more in prism-theme.css
*/
pre,
code {
    font-family: var(--font-code);
    background: var(--secondary-container);
    color: inherit;
}

code {
    padding: 0 .25rem;
    border-radius: .25rem;
}

.pre-container>* {
    padding-inline: 1.5rem;
}

.pre-container pre {
    margin-block-start: .25rem !important;
    border-radius: .5rem !important;
    border-end-end-radius: 2rem !important;
    border-end-start-radius: 2rem !important;
    border: none;
}

.pre-container pre,
.pre-container pre>code {
    white-space: pre;
    overflow-x: auto;
}


/*
    Icons
*/
.post svg {
    width: 1.75rem;
    height: 1.75rem;
}

:is(i:not(nav:is(.left, .bottom)>a>i), svg) {
    border-radius: 0 !important;
}

i>svg {
    position: initial !important;
    padding: 0 !important;
}

svg[fill=none] {
    fill: none;
}


/*
    PageFind Search
*/
#pf--wrapper {
    margin-top: .5rem;
    transform: scale(.5) translateY(-2.75rem);
    opacity: 0;
    transition: .3s;
    padding: 0;
    height: 0;
    pointer-events: none;
    width: 100%;
}

#pf--wrapper.active {
    transform: none;
    opacity: 1;
    height: 4rem;
    pointer-events: all;
}

.toolbar::before,
#pf--search::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    backdrop-filter: var(--blur);
    background-color: var(--glass-bg);
    box-shadow: var(--edge-highlight), var(--shadow-glass);
    border-radius: inherit;
}

#pf--search-results {
    backdrop-filter: var(--blur);
    background-color: var(--glass-bg);
    box-shadow: var(--edge-highlight), var(--shadow-glass);
    width: 100%;
}

#pf--search-results li {
    display: block;
}

#pf--search-results mark {
    all: unset;
    font-weight: bold;
    color: var(--on-surface);
}


/*
    Header anchor
*/
*:has(>.header-anchor) {
    margin-block-start: 2.25rem !important;
    position: relative;
}

.header-anchor {
    opacity: 0;
    visibility: hidden;
    margin-left: 1rem;
    transition: .1s;
}

*:has(>.header-anchor):hover .header-anchor,
*:has(>.header-anchor):target .header-anchor {
    opacity: 1;
    visibility: visible;
}

.header-anchor::before {
    content: "#";
}


/*
    Misc.
*/
body.light i.light,
body.dark i.dark,
body:has(#menu.max) .menu-base,
body:has(#menu:not(.max)) .menu-open {
    display: none;
}

.article-list article>a {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.article-tags>a {
    z-index: 2;
}

.default-theme {
    color: #fff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.round {
    border-radius: 1.5rem !important;
}

.mesh {
    background: var(--mesh-bg) !important;
    color: var(--primary) !important;
}

.mesh:hover {
    transform: scale(1.1);
}

#buttons-container {
    margin: 4rem;
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}