<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} — {{ site.title }}</title>
  <meta name="description" content="{{ description or site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="{% set keywords = tags or site.keywords %}{% for tag in keywords %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}">
  <meta name="generator" content="{{ eleventy.generator }}">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/ios/32.png">
  <link rel="apple-touch-icon" href="/favicon/ios/64.png">

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="{{ site.locale }}">
  <meta property="og:title" content="{{ title or site.title }}">
  <meta property="og:description" content="{{ description or site.description }}">
  {% if cover %}
  <meta property="og:image" content="{{ site.url }}{{ cover.img }}">
  <meta property="og:image:alt" content="{{ cover.alt }}">
  {% else %}
  <meta property="og:image" content="https://v1.screenshot.11ty.dev/{{ site.url | urlEncode }}{{ page.url | urlEncode }}/opengraph/">
  <meta property="og:image:alt" content="A screenshot of the web page at {{ site.url }}">
  {% endif %}

  <!-- Feeds -->
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
  <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">

  <!-- Beer CSS -->
  <link rel="stylesheet" href="/modules/beercss/beer.min.css">
  <script type="module" src="/modules/beercss/beer.min.js"></script>
  <script type="module" src="/modules/material-dynamic-colors/material-dynamic-colors.min.js"></script>

  <!-- Pagefind -->
  <link rel="stylesheet" href="/pagefind/pagefind-modular-ui.css">
  <script src="/pagefind/pagefind-modular-ui.js"></script>

  <!-- Inline styles, ignore the error -->
  <style>
    {% include "components/style.css" %}
    {% include "components/prism-theme.css" %}
  </style>
</head>

<body>
  {{ content | safe }}
</body>

{% include "components/register-sw.njk" %}
{% include "components/register-pagefind.njk" %}
{% include "components/copy-code.njk" %}

</html>