---
permalink: /index.html
layout: layouts/default.njk
title: "My home page"
---

<div class="large-space"></div>

<article class="round large-padding secondary-container">
    <p>11ty Beer, powered by Eleventy v3.0.0.</p>
    <h1>Blogging in 11ty never easy as this.</h1>
    <p>Simply setting your configuration and start writing posts in Markdown without hassle.</p>
    <nav class="no-space">
        <a class="button" href="/posts/getting-started">Get started <span class="sr-only">Tutorial how to use it
                with Terminal.</span> </a>
        <a class="button transparent" href="/posts/configuration">Learn more <span class="sr-only">Makes your website yours with
                the customizable configuration.</span></a>
    </nav>
</article>

<div class="space"></div>

<article class="round large-padding secondary-container">
    <h1>What you wishing for a blog website.</h1>
    <div class="grid">
        <article class="s12 m6 l6">
            <button class="square round extra no-margin"><i class="extra">markdown</i></button>
            <h2 class="small">Simply writing in Markdown</h2>
            <p>Don't need to knowing HTML, CSS, or Javascript. Just simply setting the site.json and start writing, 11ty GMX gonna do it all.</p>
        </article>
        <article class="s12 m6 l6">
            <button class="square round extra no-margin"><i class="extra">devices</i></button>
            <h2 class="small">Desktop and Mobile-friendly</h2>
            <p>No matter in where your users gonna read, simply adapts and perfectly fit to any devices viewing.</p>
        </article>
        <article class="s12 m6 l6">
            <button class="square round extra no-margin"><i class="extra">palette</i></button>
            <h2 class="small">Material You</h2>
            <p>Make the website yours. From author, name, logo, url, sidebar list and even the themes. Change it all with our powerful config file (site.json).</p>
        </article>
        <article class="s12 m6 l6">
            <button class="square round extra no-margin"><i class="extra">magnification_small</i></button>
            <h2 class="small">Micro and fast</h2>
            <p>11ty GMX give an smallest possible and minified result, to increase the performance. No more waiting for a second or the loading bar.</p>
        </article>
        <article class="s12 m6 l6">
            <button class="square round extra no-margin"><i class="extra">groups</i></button>
            <h2 class="small">For all humans</h2>
            <p>11ty GMX gives an built in accessibility features like aria-label to layouts, make it easier to understand for all humans.</p>
        </article>
        <article class="s12 m6 l6">
            <button class="square round extra no-margin"><i class="extra">install_mobile</i></button>
            <h2 class="small">Native-like app</h2>
            <p>Don't need make more apps for iOS, Android, Windows, or Linux. With PWA, you can built an simple web-based app without changes the potion.</p>
        </article>
        <article class="s12 m6 l6">
            <button class="square round extra no-margin"><i class="extra">touch_app</i></button>
            <h2 class="small">Easier navigation</h2>
            <p>When users found your post, they may just focus on that post and leave. With the modals for <a class="underline" href="javascript:ui('#dialog-posts');">posts</a> and <a class="underline" href="javascript:ui('#dialog-tags');">tags</a>, give users more attention and easily navigate the sitemap.</p>
        </article>
        <article class="s12 m6 l6">
            <button class="square round extra no-margin"><i class="extra">construction</i></button>
            <h2 class="small">Designed bold</h2>
            <p>Designed for works in any situation, used for personal or bussines, 11ty Beer give an bold identity with Material Design implementation, so you can built an beautiful and professional websites.</p>
        </article>
    </div>
</article>

<div class="space"></div>

<nav class="no-space">
    <a class="button border left-round max extra" href="javascript:ui('#dialog-posts');">
        <i>pages</i>
        <span>Read my posts</span>
    </a>
    <a class="button border right-round max extra" href="javascript:ui('#dialog-tags');">
        <i>sell</i>
        <span>Read by the tag</span>
    </a>
  </nav>