---
permalink: /index.html
layout: layouts/default.njk
title: "My home page"
---

<div class="large-space"></div>

<p>11ty Beer, powered by Eleventy v3.0.0.</p>
<h1>Blogging in 11ty has never been so easy.</h1>
<p>Simply set your configuration and start writing posts in Markdown without hassle.</p>
<nav class="no-space">
    <a class="button" href="/posts/getting-started">Get started <span class="sr-only">Tutorial on how to use it with Terminal.</span> </a>
    <a class="button transparent" href="/posts/configuration">Learn more <span class="sr-only">Makes your website yours with the customizable configuration.</span></a>
    <a class="button transparent" href="https://github.com/LIGMATV/11ty-beer"><i>{% icon "si:github" %}</i>GitHub <span class="sr-only">View the source code at GitHub.</span></a>
</nav>

<div class="large-space"></div>

<nav class="no-space">
    <a class="button border left-round max extra" href="javascript:ui('#dialog-posts');">
        <i>{% icon "mdi:star-box-outline" %}</i>
        <span>Read my posts</span>
    </a>
    <a class="button border right-round max extra" href="javascript:ui('#dialog-tags');">
        <i>{% icon "mdi:tag-multiple-outline" %}</i>
        <span>Read by the tag</span>
    </a>
</nav>