---
permalink: /index.html
layout: layouts/default.njk
title: "My home page"
---

<div class="hero grid">

    <div class="s12 m12 l6 middle-align center-align padding">
        <img src="{{ site.hero.image.src }}" width="100%" height="100%" fetchpriority="high"
            alt="{{ site.hero.image.alt }}">
    </div>

    <div class="s12 m12 l6">

        <p>{{ site.hero.name }}</p>
        <h1>{{ site.hero.title }}</h1>
        <p>{{ site.hero.description }}</p>

        <div class="space"></div>

        <nav class="no-space wrap">
            {% for btn in site.hero.buttons %}
            <a class="button {{ btn.extraClass }}" href="{{ btn.url }}">
                {% if btn.icon %}
                <i>{% icon btn.icon %}</i>
                {% endif %}
                {{ btn.text }}
                {% if btn.sr %}
                <span class="sr-only">{{ btn.sr }}</span>
                {% endif %}
            </a>
            {% endfor %}
        </nav>

    </div>

</div>


<div class="features center-align">

    <ul class="list medium-space">
        {% for item in site.features.items %}
        <li class="
          {% if loop.first %}top-round{% endif %}
          {% if loop.last %}bottom-round{% endif %}
        ">
            <i>{% icon item.icon %}</i>
            <div class="max">
                <h6 class="small">{{ item.title }}</h6>
                <div class="small-text">{{ item.helper }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% if site.features.button.enabled %}
    <div class="space"></div>

    <a class="button responsive mesh extra no-margin" href="{{ site.features.button.url }}">
        <i>{% icon site.features.button.icon %}</i>
        <span>{{ site.features.button.text }}</span>
    </a>
    {% endif %}

</div>