---
permalink: /posts.html
layout: layouts/default.njk
title: "My posts"
description: All my posts i write in this website.
---

<div class="large-space"></div>
<h1>{{ title }}</h1>
<div class="space"></div>

<div class="grid">
    {% for post in collections.posts | reverse %}
    <article class="s12 m12 l6">
        <h2><a class="link" href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p>{{ post.date | date }} - by {{ site.author }}</p>
        <p class="text-sm">{{ post.data.description }}</p>
        <nav class="wrap">
            {% for tag in post.data.tags %}
            <a class="chip" href="/tags/{{ tag }}/">#{{ tag }}</a>
            {% endfor %}
        </nav>
        <nav>
            <div class="max"></div>
            <a class="button tonal no-margin" href="{{ post.url }}">
                <i>book_5</i>
                Read this post
            </a>
        </nav>
    </article>
    {% endfor %}
</div>