---
permalink: /tags/index.html
layout: layouts/default.njk
title: "All tags"
description: All the tags i used for the posts in this website.
pagefind_ignore: true
---

<div class="marginize padding">

  <div class="large-space"></div>
  <h1>{{ title }}</h1>
  <div class="space"></div>

  <article class="no-padding round" style="overflow: hidden;">
    {% for tag in collections.tagsList %}
    <a class="row wave padding" href="/tags/{{ tag | slug }}/">
      <i>{% icon "lucide:hash" %}</i>
      <div class="max">
        <h6>{{ tag }}</h6>
      </div>
    </a>
    <hr>
    {% endfor %}
  </article>

</div>