---
permalink: /tags/{{ tag | slug }}/index.html
layout: layouts/default.njk
pagination:
  data: collections.tagsList
  size: 1
  alias: tag
eleventyComputed:
  title: "#{{ tag }}"
  description: "All the posts that tagged with #{{ tag }}."
pagefind_ignore: true
---

<div class="marginize padding">

  <div class="large-space"></div>
  <h1>
    <span class="link">#</span><span>{{ tag }}</span>
  </h1>
  <div class="space"></div>

  <div class="grid article-list">
    {% for post in collections.posts | filterByTag(tag) | reverse %}
    <article class="wave round no-padding no-elevate s12 m6 l6">
      <a href="{{ post.url }}"></a>
      {% if site.cover %}
      <div class="post-cover">
        {% if post.data.cover %}
        <img class="responsive" src="{{ post.data.cover.img }}" alt="{{ post.data.cover.alt }}">
        {% endif %}
      </div>
      {% endif %}
      <div class="large-padding">
        <p class="helper">{{ post.date | readableDate }}</p>
        <h3 class="sbold no-margin">{{ post.data.title }}</h3>
        <p class="helper">{{ post.data.description }}</p>
        <nav class="article-tags scroll max tiny-space">
          {% for tag in post.data.tags %}
          {% if "posts" not in tag %}
          <a class="button border no-round" href="/tags/{{ tag }}/">#{{ tag }}</a>
          {% endif %}
          {% endfor %}
        </nav>
      </div>
    </article>
    {% endfor %}
  </div>

</div>