---
layout: layouts/default.njk
title: "My home page"
description: An 11ty blog template with Material Design, PWA and minified files that simply works.
---

<section class="accent-gradient padding-lg round-lg">
    <p>11ty GMX, powered by Eleventy v3.0.0.</p>
    <h1>Blogging in 11ty never easy as this.</h1>
    <p>Simply setting your configuration and start writing posts in Markdown without hassle.</p>
</section>

<section class="features accent-gradient padding-md round-xl">
    <h2 class="display">What you wishing for a blog website.</h2>
    <br>
    <div class="grid all-m6 all-s12 gap-md">
        <div class="container surface">
            <nav class="align-start">
                <button class="fab small right-margin" aria-labelledby="wish-1"><i>
                        <iconify-icon icon="mdi:language-markdown-outline"></iconify-icon>
                    </i></button>
                <article>
                    <h3 class="small" id="wish-1">Simply writing in Markdown</h3>
                    <p class="no-margin">Don't need to knowing HTML, CSS, or Javascript. Just simply setting the site.json and start writing, 11ty GMX gonna do it all.</p>
                </article>
            </nav>
        </div>
        <div class="container surface">
            <nav class="align-start">
                <button class="fab small right-margin" aria-labelledby="wish-2"><i>
                        <iconify-icon icon="mdi:devices"></iconify-icon>
                    </i></button>
                <article>
                    <h3 class="small" id="wish-2">Desktop and Mobile-friendly</h3>
                    <p class="no-margin">No matter in where your users gonna read, simply adapts and perfectly fit to any devices viewing.</p>
                </article>
            </nav>
        </div>
        <div class="container surface">
            <nav class="align-start">
                <button class="fab small right-margin" aria-labelledby="wish-3"><i>
                        <iconify-icon icon="mdi:paint-outline"></iconify-icon>
                    </i></button>
                <article>
                    <h3 class="small" id="wish-3">Material You</h3>
                    <p class="no-margin">Make the website yours. From author, name, logo, url, sidebar list and even the themes. Change it all with our powerful config file (site.json).</p>
                </article>
            </nav>
        </div>
        <div class="container surface">
            <nav class="align-start">
                <button class="fab small right-margin" aria-labelledby="wish-4"><i>
                        <iconify-icon icon="mdi:image-size-select-small"></iconify-icon>
                    </i></button>
                <article>
                    <h3 class="small" id="wish-4">Micro and fast</h3>
                    <p class="no-margin">11ty GMX give an smallest possible and minified result, to increase the performance. No more waiting for a second or the loading bar.</p>
                </article>
            </nav>
        </div>
        <div class="container surface">
            <nav class="align-start">
                <button class="fab small right-margin" aria-labelledby="wish-5"><i>
                        <iconify-icon icon="mdi:accessibility"></iconify-icon>
                    </i></button>
                <article>
                    <h3 class="small" id="wish-5">For all humans</h3>
                    <p class="no-margin">11ty GMX gives an built in accessibility features like aria-label to layouts, make it easier to understand for all humans.</p>
                </article>
            </nav>
        </div>
        <div class="container surface">
            <nav class="align-start">
                <button class="fab small right-margin" aria-labelledby="wish-6"><i>
                        <iconify-icon icon="mdi:star-four-points-outline"></iconify-icon>
                    </i></button>
                <article>
                    <h3 class="small" id="wish-6">Fluently designed</h3>
                    <p class="no-margin">With GMX.css, a CSS framework that delivers a robust set of Material Design-inspired UI components without compromising performance.</p>
                </article>
            </nav>
        </div>
        <div class="container surface">
            <nav class="align-start">
                <button class="fab small right-margin" aria-labelledby="wish-7"><i>
                        <iconify-icon icon="mdi:app-badge-outline"></iconify-icon>
                    </i></button>
                <article>
                    <h3 class="small" id="wish-7">Native-like app</h3>
                    <p class="no-margin">Don't need make more apps for iOS, Android, Windows, or Linux. With PWA, you can built an simple web-based app without changes the potion.</p>
                </article>
            </nav>
        </div>
        <div class="container surface">
            <nav class="align-start">
                <button class="fab small right-margin" aria-labelledby="wish-8"><i>
                        <iconify-icon icon="mdi:emoticon-excited-outline"></iconify-icon>
                    </i></button>
                <article>
                    <h3 class="small" id="wish-8">Icons on demand</h3>
                    <p class="no-margin">With over hundreds of thousands of icons in Iconify that are easy to use, creating more appealing visuals.</p>
                </article>
            </nav>
        </div>
    </div>
</section>