---
layout: layouts/default.njk
title: "My posts"
description: All my posts i write in this website.
---

<section class="header">
    <h1>{{ title }}</h1>
</section>

<section class="posts">
    <div class="grid all-s12 all-m6">
        {% for post in collections.posts | reverse %}
            <div class="container">
               <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
               <p>{{ post.date | date }} - by {{ site.author }}</p>
               <p class="text-sm">{{ post.data.description }}</p>
               <nav class="gap-sm">
                   {% for tag in post.data.tags %}
                       <a class="btn chip" href="/tags/{{ tag }}/">#{{ tag }}</a>
                   {% endfor %}
                   <div class="flex-max"></div>
                   <a class="btn tonal" href="{{ post.url }}">
                       <i><iconify-icon icon="mdi:open-in-new"></iconify-icon></i>
                       Read this post
                   </a>
               </nav>            
            </div>
        {% endfor %}
    </div>
</section>
 