---
layout: layouts/default.njk
pagination:
  data: collections.tagsList
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/index.html
eleventyComputed:
  title: "#{{ tag }}"
  description: "All the posts that tagged with #{{ tag }}."
---

<section class="header">
    <h1>{{ title }}</h1>
</section>

<section class="posts">
    <div class="grid all-s12 all-m6">
        {% for post in collections.posts | filterByTag(tag) %}
            <div class="container">
               <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
               <p>{{ post.date | date }} - by {{ site.author }}</p>
               <p class="text-sm">{{ post.data.description }}</p>
               <a class="btn tonal" href="{{ post.url }}">
                   <i><iconify-icon icon="mdi:open-in-new"></iconify-icon></i>
                   Read this post
               </a>
            </div>
        {% endfor %}
    </div>
</section>