---
permalink: /sw.js
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
// https://developer.chrome.com/docs/workbox/caching-strategies-overview

const cacheName = '11tyBeerCache_v1';

const precachedAssets = [
  '/modules/beercss/beer.min.css',
  '/modules/beercss/beer.min.js',
  '/modules/beercss/material-symbols-outlined.woff2',
  '/modules/simple-icons-font/SimpleIcons.woff',
  '/modules/simple-icons-font/simple-icons.min.css',
  '/modules/material-dynamic-colors/material-dynamic-colors.min.js'
];

self.addEventListener('install', (event) => {
  event.waitUntil(caches.open(cacheName).then((cache) => {
    return cache.addAll(precachedAssets);
  }));
});

self.addEventListener('fetch', (event) => {
  const url = new URL(event.request.url);
  const isPrecachedRequest = precachedAssets.includes(url.pathname);

  if (isPrecachedRequest) {
    event.respondWith(caches.open(cacheName).then((cache) => {
      return cache.match(event.request.url);
    }));
  } else {
    return;
  }
});